body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #16171d;
  color: white;
}

button{
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
}

input {
  padding: 10px;
  font-size: 25px;
  margin: 4px;
  border-radius: 10px;
}